

:root {
    --frost-gradient: linear-gradient(to bottom, #004e92, #000428);
}

.user {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid white;
    height: 200px;
    color: white;
    
    background-color: lightblue;
    background-image: var(--frost-gradient);
    
}

.profile {
    display: flex;
    align-items: center;
    flex-basis: 500px;
}

.user-img {
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}

.user-info p {
    margin: 5px;
}

.payment-btn {
    width: 80px;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

