
:root {
    --modal-width: 460px;
    --modal-height: 200px;
}

.payment-modal {

    position: absolute;
    z-index: 1;
    top: calc(50vh - var(--modal-height) / 2);
    left: calc(50vw - var(--modal-width) / 2);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: var(--modal-width);
    height: var(--modal-height);
}

.close-btn {

    display: flex;
    justify-content: center;

    position: absolute;
    top: -5px;
    right: 2px;

    font-size: 1.8em;
    cursor: pointer;
    color: white;

    transition: color 0.5s;
}

.close-btn:hover {
    color: red;
}

.modal-title {

    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: #474A6E;

    width: 100%;
    padding: 2px;
}

.payment-modal input {width: 90%; padding: 5px;}

.payment-modal select {width: 90%; padding: 5px;}

.payment-modal button {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    background-color: red;

    transition: background-color 1s;
}

.payment-modal button:hover {
    background-color: green;
}

