
:root {

    --modal-width: 460px;
    --modal-height: 250px;
    --centerX: calc(50% - var(--modal-width) / 2);
    --centerY: calc(50% - var(--modal-height) / 2)
}

.modal {

    display: flex;
    flex-direction: column;

    position: fixed;
    right: var(--centerX);
    top: var(--centerY);
    width: var(--modal-width);
    height: var(--modal-height); 

    background-color: white;
    border-radius: 4px;
}

.modal-title {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    color: white;
    background-color: #26273B;
    font-size: 1em;
    text-align: justify;
}

.title-msg {
    flex-grow: 1;
}

.close-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    top: -5px;
    right: 0px;
   
    font-size: 1.4em;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    font-size: 1em;
    height: 100%;
}

